body {
background-color: #000000;
font-family: monospace;
}

h1 {
color: #ff0000;
font-size: 3em;
}

form {
width: 80%;
}

textarea {
max-width: 500px;
width: 90%;
resize: none;
font-size: 1.2em;
}

#plain, #cipher {
border-color: #ff0000;
background-color:#000000;
color: #ff0000;
font-family: serif;
}

#encrypt, #decrypt {
display: inline-block;
width: 40%;
border-color: #ff0000;
background-color:#000000;
color: #ff0000;
font-family: serif;
}
  
::-webkit-scrollbar {
width: 5%;
height: 5%;
border-radius: 7px;
}

::-webkit-scrollbar-thumb {
background: #ff0000;
border-radius: 5px;
max-width: 100%;
}

::-webkit-scrollbar-track {
background: linear-gradient(transparent, transparent);
max-width: 100%;
}

@media (max-width: 480px) {
h1 {
font-size: 2em;
}
textarea {
font-size: 1.5em;
}
#encrypt, #decrypt {
font-size: 1.2em;
}
}

@media (min-width: 481px) and (max-width: 768px) {
h1 {
font-size: 2.5em;
}
textarea {
font-size: 1.3em;
}
#encrypt, #decrypt {
font-size: 1.1em;
}
}

@media (min-width: 769px) {
h1 {
font-size: 3em;
}
textarea {
font-size: 1.2em;
}
#encrypt, #decrypt {
font-size: 1em;
}
}
