body {
  background-color: #000000;
  font-family: monospace;
}

h1 {
  color: #ff0000;
  /* 글자 크기를 상대적인 단위로 변경 */
  font-size: 3rem;
}

textarea {
  /* 너비를 백분율로 변경 */
  max-width: 100%;
  width: 100%;
  resize: none;
  font-size: 1.2em;
}

#plain, #cipher {
  border-color: #ff0000;
  background-color:#000000;
  color: #ff0000;
}

#encrypt, #decrypt {
  display: inline-block;
  margin-right: 10px;
  border-color: #ff0000;
  background-color:#000000;
  color: #ff0000;
}
  
::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(transparent, transparent);
}

/* 미디어 쿼리 추가 */
@media only screen and (max-width: 600px) {
  h1 {
    /* 글자 크기를 줄임 */
    font-size: 2rem;
    /* 여백을 줄임 */
    margin-bottom: 10px;
  }

  textarea {
    /* 여백을 줄임 */
    margin-bottom: 10px;
  }

  #encrypt, #decrypt {
    /* 여백을 줄임 */
    margin-right: 5px;
    margin-bottom: 10px;
  }
}
