body {
background-color: #000000;
font-family: monospace;
}

h1 {
color: #ff0000;
font-size: 3em;
}

textarea {
max-width: 500px;
width: 100%;
resize: none;
font-size: 1.2em;
}

#plain, #cipher {
border-color: #ff0000;
background-color:#000000;
color: #ff0000;
}

#encrypt, #decrypt {
display: inline-block;
margin-right: 10px;
border-color: #ff0000;
background-color:#000000;
color: #ff0000;
}
  
::-webkit-scrollbar {
width: 7px;
border-radius: 7px;
}

::-webkit-scrollbar-thumb {
background: #ff0000;
border-radius: 5px;
}

::-webkit-scrollbar-track {
background: linear-gradient(transparent, transparent);
}

@media (max-width: 500px) {
  textarea {
    height: 150px;
    font-size: 0.8em;
    }
}
